<a href="https://colab.research.google.com/github/SimoneKris/KGS-Data-Analytics-Portfolio/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
bird_df = files.upload()

Saving bird_tracking.csv to bird_tracking.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
bird_df =pd.read_csv('bird_tracking.csv')

In [4]:
bird_df.head()

,id,altitude,date_time,device_info_serial,direction,latitude,longitude,nearest_city,country,speed_2d,avg_temp
0,1,71,8/14/2013 19:18,851,-150.469753,49.4199,2.12073,PARIS,FRANCE,0.150000,63.5
1,1,71,8/14/2013 19:18,851,-150.469753,49.4199,2.12073,PARIS,FRANCE,0.150000,63.5
2,2,73,8/14/2013 20:47,851,32.769360,49.4204,2.12086,PARIS,FRANCE,0.310161,63.5
3,2,73,8/14/2013 20:47,851,32.769360,49.4204,2.12086,PARIS,FRANCE,0.310161,63.5
4,3,54,8/14/2013 21:47,851,-46.344478,49.4204,2.12084,PARIS,FRANCE,2.904772,63.5

In [5]:
bird_df.describe()

,id,altitude,device_info_serial,direction,latitude,longitude,speed_2d,avg_temp
count,19998.000000,19998.000000,19998.000000,19860.000000,19998.000000,19998.000000,19860.000000,19998.000000
mean,5001.702170,51.254725,849.368737,-6.298123,30.438638,-8.821899,2.527014,64.139594
std,2889.444616,131.633338,12.794659,102.738950,14.852786,8.517287,3.571778,16.342918
min,1.000000,-668.000000,833.000000,-179.985721,12.358400,-17.624600,0.000000,-99.000000
25%,2500.250000,2.000000,833.000000,-91.342279,15.544500,-16.758175,0.401995,55.700000
50%,5000.000000,14.000000,851.000000,-12.185866,30.428600,-9.652730,1.192434,65.500000
75%,7499.750000,87.000000,864.000000,80.329862,50.034450,2.620367,2.994478,71.800000
max,9999.000000,5448.000000,864.000000,180.000000,51.514300,4.853160,63.488066,92.800000

In [6]:
bird_df.shape

(19998, 11)

In [7]:
bird_df.columns

Index(['id', 'altitude', 'date_time', 'device_info_serial', 'direction',
       'latitude', 'longitude', 'nearest_city', 'country', 'speed_2d',
       'avg_temp'],
      dtype='object')

In [11]:
bird_df.isnull()

,id,altitude,date_time,device_info_serial,direction,latitude,longitude,nearest_city,country,speed_2d,avg_temp
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
19993,False,False,False,False,False,False,False,False,False,False,False
19994,False,False,False,False,False,False,False,False,False,False,False
19995,False,False,False,False,False,False,False,False,False,False,False
19996,False,False,False,False,False,False,False,False,False,False,False
19997,False,False,False,False,False,False,False,False,False,False,False

In [12]:
bird_df.isnull().sum()

id                      0
altitude                0
date_time               0
device_info_serial      0
direction             138
latitude                0
longitude               0
nearest_city            0
country                 0
speed_2d              138
avg_temp                0
dtype: int64

In [13]:
bird_df.dropna(inplace=True)

In [14]:
bird_df.head()

,id,altitude,date_time,device_info_serial,direction,latitude,longitude,nearest_city,country,speed_2d,avg_temp
0,1,71,8/14/2013 19:18,851,-150.469753,49.4199,2.12073,PARIS,FRANCE,0.150000,63.5
1,1,71,8/14/2013 19:18,851,-150.469753,49.4199,2.12073,PARIS,FRANCE,0.150000,63.5
2,2,73,8/14/2013 20:47,851,32.769360,49.4204,2.12086,PARIS,FRANCE,0.310161,63.5
3,2,73,8/14/2013 20:47,851,32.769360,49.4204,2.12086,PARIS,FRANCE,0.310161,63.5
4,3,54,8/14/2013 21:47,851,-46.344478,49.4204,2.12084,PARIS,FRANCE,2.904772,63.5